@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  font-family: "Manrope", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --darkgreen: #1c3326;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

li,
a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  user-select: none;
}

a {
  font-weight: 500;
  color: #646cff;
  cursor: pointer;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: var(--darkgreen);
  margin: 0;
}

h3 {
  font-size: 16px;
  font-weight: 500;
}

button,
fieldset,
input,
legend,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  img.vector {
    display: none;
  }
  #root {
    padding: 2rem 0;
  }
}
